extends layout
block content
  title= 'khoicute'
  body.p-0
    .vh-100
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col-12.col-md-6.col-lg-4.shadow.rounded.p-5
          h1.text-center Realtime editor
          p.mb-5.text-center Enter your name to create a new editor or enter an existing editor
          form(method='post' action='editor').w-100.m-auto#form
            .form-floating.mb-3
              input.form-control#name(type='text' placeholder='khoicute' name='name'  value=user required)
              label(for='name') Name
            .row
              .col
                button.btn.btn-primary.form-control(type='submit') New editor
              .col
                button.btn.btn-outline-primary.form-control(type='button' onclick='onJoinRoomClick()') Enter editor
