doctype html
html(lang="en")
  head
    title My Rich Text Editor
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
  body
    #editor
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script.
      const socket = io(); 
      let RoomId = '#{RoomName}';
      let RoomData = '!{RoomData}'
      
      
      const quill = new Quill('#editor', {
        theme: 'snow'
      });

      console.log(RoomData)
      quill.pasteHTML(RoomData)
      
      

      document.querySelector('#editor .ql-editor').addEventListener('keyup', function() {
        var editorValue = document.querySelector('#editor .ql-editor').innerHTML;
        console.log(editorValue);
        onInputChange(editorValue)
      });


      function onInputChange(inputVal) {
        socket.emit("textChange", {inputVal,RoomId});
      }

      socket.on('UpdateText', (data) => {
        console.log(data);
        quill.pasteHTML(data)
        //quill.setText(data);
      });



      async function  join(){
        await socket.emit('join', RoomId);

      }

      join();
      
      
      
      
      